* {
  font-family: "Montserrat", sans-serif;
  /* font-size: 20px; */
  border: 2px solid red;
}

body {
  border-color: blue;
}

img.thumbnail {
  width: 300px;
}

input.search-box {
  width: 35%;
  height: 30px;
  border: 1px solid grey;
  border-radius: 30px;
  margin: 20px 0 20px 10px;
}

/* p { */
/*   margin: 0px; */
/*   width: 300px; */
/* } */

p.video-title {
  width: 300px;
  margin-right: 20px;
}
